<? AddRow JSLoop HREF=/modfiles/global/webadmin/webadmin.js ?>
<? AddRow CSSLoop HREF=/modfiles/global/webadmin/webadmin.css ?>
<? INC Header.tmpl ?>

		<?IF !UserLoop?>
			<div class="textsection">
				There are no users defined. Click <a href="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>adduser">here</a> if you would like to add one.
			</div>
		<?ELSE?>
			<div class="toptable">
				<table class="sortable">
					<thead>
					<tr>
						<td class="ignore-sort">[<a href="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>adduser">Add</a>]</td>
						<td>Username</td>
                        <td>Networks</td>
						<td>Clients</td>
					</tr>
					</thead>

					<tbody>
			<?LOOP UserLoop SORTASC=Username ?>
					<tr class="<?IF __EVEN__?>evenrow<?ELSE?>oddrow<?ENDIF?>">
						<td>
							<span class="nowrap">
								[<a href="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>edituser?user=<?VAR Username ESC=URL?>">Edit</a>]
								[<a href="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>adduser?clone=<? VAR Username ESC=URL ?>" alt="Clone <? VAR Username ESC=URL ?>">Clone</a>]
								<? IF !IsSelf ?>[<a href="<? VAR URIPrefix TOP ?><? VAR ModPath TOP ?>deluser?user=<?VAR Username ESC=URL?>">Delete</a>]<? ENDIF ?>
							</span>
						</td>
						<td><? VAR Username ?></td>
                        <td><? VAR Networks ?></td>
						<td><? VAR Clients ?></td>
					</tr>
			<?ENDLOOP?>
					</tbody>
				</table>
			</div>
			<script>make_sortable();</script>
		<?ENDIF?>

<? INC Footer.tmpl ?>
