<? INC Header.tmpl ?>

<form action="settings" method="post">
	<? INC _csrf_check.tmpl ?>
	<div class="section">
		<input type="hidden" name="submitted" value="1" />

		<h3>Listen Port(s)</h3>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection">
					<div>
						<table>
							<thead>
								<tr>
									<td>Port</td>
									<td>BindHost</td>
									<td>SSL</td>
									<td>IPv4</td>
									<td>IPv6</td>
									<td>IRC</td>
									<td>Web</td>
								</tr>
							</thead>
							<tbody>
							<? LOOP ListenLoop ?>
								<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
									<td><? VAR Port ?></td>
									<td><? VAR BindHost DEFAULT=** ?></td>
									<td><? IF IsSSL ?>Yes<? ELSE ?>No<? ENDIF ?></td>
									<td><? IF IsIPV4 ?>Yes<? ELSE ?>No<? ENDIF ?></td>
									<td><? IF IsIPV6 ?>Yes<? ELSE ?>No<? ENDIF ?></td>
									<td><? IF IsIRC ?>Yes<? ELSE ?>No<? ENDIF ?></td>
									<td><? IF IsWeb ?>Yes<? ELSE ?>No<? ENDIF ?></td>
								</tr>
							<? ENDLOOP ?>
							</tbody>
						</table>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>

	<div class="section">
		<h3>Settings</h3>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection">
					<div class="inputlabel">Skin:</div>
					<div>
						<select name="skin">
							<? LOOP SkinLoop ?>
							<option value="<? VAR Name ?>"<? IF Checked ?> selected="selected"<? ENDIF ?>><? IF Name == "_default_" ?>Default<? ELSE ?><? VAR Name ?><? ENDIF ?></option>
							<? ENDLOOP ?>
						</select>
					</div>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection third">
					<div class="inputlabel">Status Prefix:</div>
					<div><input type="text" name="statusprefix" value="<? VAR StatusPrefix ?>" /></div>
					<br /><span class="info">Default for new users only.</span>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection half">
					<div class="inputlabel">Maximum Buffer Size:</div>
					<div><input type="text" name="maxbufsize" value="<? VAR MaxBufferSize ?>" /></div>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection half">
					<div class="inputlabel">Connect Delay:</div>
					<div><input type="text" name="connectdelay" value="<? VAR ConnectDelay ?>" /></div>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection half">
					<div class="inputlabel">Server Throttle:</div>
					<div><input type="text" name="serverthrottle" value="<? VAR ServerThrottle ?>" /></div>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection half">
					<div class="inputlabel">Anonymous IP Limit:</div>
					<div><input type="text" name="anoniplimit" value="<? VAR AnonIPLimit ?>" /></div>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection">
					<div class="inputlabel">Protect Web Sessions:</div>
					<div class="checkbox"><input type="checkbox" name="protectwebsessions" id="protectwebsessions_checkbox"<? IF ProtectWebSessions ?> checked="checked"<? ENDIF ?> />
						<label for="protectwebsessions_checkbox">Disallow IP changing during each web session</label></div>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection twothird">
					<div class="inputlabel">MOTD:</div>
					<div><textarea name="motd" cols="70" rows="5" class="monospace"><? LOOP MOTDLoop ?><? VAR Line ?>
<? ENDLOOP ?>
</textarea></div>
					<br /><span class="info">"Message of the Day", sent to all ZNC users on connect.</span>
				</div>

				<div class="subsection twothird">
					<div class="inputlabel">BindHosts:</div>
					<div><textarea name="bindhosts" cols="70" rows="8"><? LOOP BindHostLoop ?><? VAR BindHost ?>
<? ENDLOOP ?>
</textarea></div>
					<br /><span class="info">One host name or IP entry per line.</span>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>

	<div class="section">
		<h3>Global Modules</h3>
		<div class="sectionbg">
			<div class="sectionbody">
				<table>
					<thead>
					<tr>
						<td>Name</td>
						<td>Arguments</td>
						<td>Description</td>
					</tr>
					</thead>
					<tbody>
					<? LOOP ModuleLoop ?>
					<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
						<td class="mod_name"><input type="checkbox" name="loadmod" id="lm_<? VAR Name ?>" value="<? VAR Name ?>"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /><label for="lm_<? VAR Name ?>"> <? IF Wiki ?> <a href="http://wiki.znc.in/<? VAR Wiki ?>"><? VAR Name ?></a> <? ELSE ?> <? VAR Name ?> <? ENDIF ?></label></td>
						<td class="mod_args"><input type="text" name="modargs_<? VAR Name ?>" value="<? VAR Args ?>" /></td>
						<td class="mod_descr"><? VAR Description ?></td>
					</tr>
					<? ENDLOOP ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="submitline">
		<input type="submit" value="Save" />
	</div>
</form>

<? INC Footer.tmpl ?>
