<? INC Header.tmpl ?>

<div class="textsection">

<div class="section">
	<h3>Information</h3>
	<div class="sectionbg">
		<div class="sectionbody">
			<table>
				<tbody>
					<tr class="oddrow">
						<th>Uptime</th>
						<td><? VAR Uptime ?></td>
					</tr>
				<? IF IsAdmin ?>
					<tr class="evenrow">
						<th>Total Users</th>
						<td><? VAR TotalUsers ?></td>
					</tr>
                    <tr class="oddrow">
						<th>Total Networks</th>
						<td><? VAR TotalNetworks ?></td>
					</tr>
					<tr class="evenrow">
						<th>Attached Networks</th>
						<td><? VAR AttachedNetworks ?></td>
					</tr>
					<tr class="oddrow">
						<th>Total Client Connections</th>
						<td><? VAR TotalCConnections ?></td>
					</tr>
					<tr class="evenrow">
						<th>Total IRC Connections</th>
						<td><? VAR TotalIRCConnections ?></td>
					</tr>
				<? ELSE ?>
					<tr class="evenrow">
						<th>Networks</th>
						<td><? VAR TotalNetworks ?></td>
					</tr>
					<tr class="oddrow">
						<th>Attached Networks</th>
						<td><? VAR AttachedNetworks ?></td>
					</tr>
					<tr class="evenrow">
						<th>Client Connections</th>
						<td><? VAR TotalCConnections ?></td>
					</tr>
					<tr class="oddrow">
						<th>IRC Connections</th>
						<td><? VAR TotalIRCConnections ?></td>
					</tr>
				<? ENDIF ?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<? IF IsAdmin ?>
<div class="section">
	<h3>Total</h3>
	<div class="sectionbg">
		<div class="sectionbody">
			<table>
				<thead>
					<tr>
						<td></td>
						<td>In</td>
						<td>Out</td>
						<td>Total</td>
					</tr>
				</thead>
				<tbody>
					<tr class="evenrow">
						<td>Users</td>
						<td><? VAR UserIn TOP ?></td>
						<td><? VAR UserOut TOP ?></td>
						<td><? VAR UserTotal TOP ?></td>
					</tr>
					<tr class="oddrow">
						<td>ZNC</td>
						<td><? VAR ZNCIn TOP ?></td>
						<td><? VAR ZNCOut TOP ?></td>
						<td><? VAR ZNCTotal TOP ?></td>
					</tr>
					<tr class="evenrow">
						<td>Total</td>
						<td><? VAR AllIn TOP ?></td>
						<td><? VAR AllOut TOP ?></td>
						<td><? VAR AllTotal TOP ?></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<? ENDIF ?>

<? IF TrafficLoop ?>
<div class="section">
	<? IF IsAdmin ?>
	<h3>Users</h3>
	<? ELSE ?>
	<h3>Traffic</h3>
	<? ENDIF ?>
	<div class="sectionbg">
		<div class="sectionbody">
			<table>
				<thead>
					<tr>
						<td>Username</td>
						<td>Network</td>
						<td>In</td>
						<td>Out</td>
						<td>Total</td>
					</tr>
				</thead>
				<tbody>
				<? LOOP TrafficLoop ?>
					<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
						<td><? VAR Username ?></td>
						<td><? VAR Network ?></td>
						<td><? VAR In ?></td>
						<td><? VAR Out ?></td>
						<td><? VAR Total ?></td>
					</tr>
				<? ENDLOOP ?>
				</tbody>
			</table>
		</div>
	</div>
</div>
<? ENDIF ?>

</div>

<? INC Footer.tmpl ?>
