<header>
	<div class="content-above-ribbon">&nbsp;</div>
	<div class="ribbon">
		<h1>ZNC
            <small>Advanced IRC Bouncer</small>
            <small class="zncversion float-right"><? VAR Tag ?></small></small>
        </h1>
	</div>
	<div class="triangle-left"></div>
	<div class="triangle-right"></div>
</header>