					<div id="breadcrumb">ZNC
						<? IF ModName ?><span class="raquo">&#187;</span> Module <? VAR ModName ?><? ENDIF ?>
						<? REM ?><? IF PageName ?><span class="raquo">&#187;</span> <? VAR PageName ?><? ENDIF ?><? ENDREM ?>
						<? IF Title && Title != *ModName ?><span class="raquo">&#187;</span> <? VAR Title ?><? ENDIF ?>
					</div>
