						</div>
						<!-- !SubPage -->
				</div>
				<!-- !Content -->
		</div>
		<!-- !Main -->

		<!-- FooterBar -->
		<footer>
		<? INC FooterTag.tmpl ?>
		</footer>
		<!-- !FooterBar -->

		</div>
		<!-- !Wrapper -->

	</body>
</html>
