<div class="box infobar marg-10 float-right">

	<div class="heading green rounded-bottom-right auto-width">
		<? IF LoggedIn ?>
		<img src="/pub/img/user.png" alt="user.png" />
		<? VAR SessionUser DEFAULT="-Guest-" ?>
		<? ELSE ?>
		<img src="/pub/img/key.png" alt="key.png" />
		Login
		<? ENDIF ?>
	</div>

	<div class="box-inner-content">

		<? IF LoggedIn ?>
		<span id="infobar_ident">From IP <? VAR SessionIP ?></span>
		<? ENDIF ?>

		<? INC LoginBar.tmpl ?>

	</div>

</div>