<? I18N znc-lastseen ?>
<? INC Header.tmpl ?>

<div class="toptable">
	<table class="data">
		<thead>
			<tr>
				<th><? FORMAT "User" ?></th>
				<th><? FORMAT "Last Seen" ?></th>
				<th><? FORMAT "Info" ?></th>
				<? IF WebAdminLoaded ?><td><? FORMAT "Action" ?></td><? ENDIF ?>
			</tr>
		</thead>
		<tbody>
			<? LOOP UserLoop ?>
			<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
				<td><? VAR Username ?></td>
				<td><? VAR LastSeen DEFAULT="- unknown -" ?></td>
				<td><? VAR Info ?></td>
				<? IF WebAdminLoaded TOP ?><td><span class="nowrap">
					[<a href="<? VAR URIPrefix TOP ?>/mods/global/webadmin/edituser?user=<?VAR Username ESC=URL?>"><? FORMAT "Edit" ?></a>]
					<? IF !IsSelf ?>[<a href="<? VAR URIPrefix TOP ?>/mods/global/webadmin/deluser?user=<?VAR Username ESC=URL?>"><? FORMAT "Delete" ?></a>]<? ENDIF ?>
					</span></td><? ENDIF ?>
			</tr>
			<? ENDLOOP ?>
		</tbody>
	</table>
</div>

<? INC Footer.tmpl ?>
