<? I18N znc-lastseen ?>

<div class="sectionbg">
	<div class="sectionbody">
		<div class="subsection">
			<label id="last_login"><? FORMAT "Last login time:" ?></label>
			<span id="lastseen"><? VAR LastSeen DEFAULT="- unknown -" ?></span>
		</div>
	</div>
</div>
