<div class="sectionbg">
	<div class="sectionbody">
		<div class="subsection">
			<label id="last_login">Last login time:</label>
			<span id="lastseen"><? VAR LastSeen DEFAULT="- unknown -" ?></span>
		</div>
	</div>
</div>
