<div class="sectionbg">
	<div class="sectionbody">
		<div class="subsection">
			<div class="inputlabel">Last login time:</div>
			<div><p><? VAR LastSeen DEFAULT="- unknown -" ?></p></div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
