<? INC Header.tmpl ?>
		<?IF !UserLoop?>
				Keine Benutzer gefunden.  Klicke <a href="/adduser">hier</a> um einen neuen Benutzer anzulegen.
		<?ELSE?>
				<table>
					<thead>
					<tr>
						<td>Aktion</td>
						<td>Benutzer</td>
						<td>Verbindungen</td>
						<td>Jetziger Server</td>
						<td>IRC Nick</td>
					</tr>
					</thead>

			<?LOOP UserLoop?>
					<tr class="<?IF __EVEN__?>evenrow<?ELSE?>oddrow<?ENDIF?>">
						<td>
							<span class="nowrap">
								[<a href="/edituser?user=<?VAR Username ESC=URL?>">Bearbeiten</a>]
								[<a href="/deluser?user=<?VAR Username ESC=URL?>">L&ouml;schen</a>]
							</span>
						</td>
						<td><? VAR Username ESC=HTML ?></td>
						<td><? VAR Clients ESC=HTML ?></td>
						<td><? VAR Server ESC=HTML DEFAULT="-N/A-" ?></td>
						<td><? VAR IRCNick ESC=HTML ?></td>
					</tr>
			<?ENDLOOP?>
				</table>
		<?ENDIF?>
<? INC Footer.tmpl ?>
