<? INC Header.tmpl ?>

<table class="data">
	<thead>
		<tr>
			<th>Name</th>
			<th>Created</th>
			<th>State</th>
			<th>SSL</th>
			<th>Local</th>
			<th>Remote</th>
			<th>Data In</th>
			<th>Data Out</th>
		</tr>
	</thead>
	<tbody>
		<? LOOP SocketsLoop ?>
		<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
			<td><? VAR Name ?></td>
			<td><? VAR Created ?></td>
			<td><? VAR State ?></td>
			<td><? VAR SSL ?></td>
			<td><? VAR Local ?></td>
			<td><? VAR Remote ?></td>
			<td><? VAR In ?></td>
			<td><? VAR Out ?></td>
		</tr>
		<? ENDLOOP ?>
	</tbody>
</table>

<? INC Footer.tmpl ?>
