[submodule "Csocket"]
	path = third_party/Csocket
	url = https://github.com/jimloco/Csocket.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "docker"]
	path = docker
	url = https://github.com/znc/znc-docker
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
