<? INC Header.tmpl ?>

<script type="javascript" src="jisirc.js"></script>
<? VAR ChannelName ?>

<textarea readonly=on style="width: 75%; height: 350px; display: inline; margin: 0">
<? LOOP BufferLoop ?>
<? IF Type == "PRIVMSG" ?>
&lt;<? VAR Nick ?>&gt; <? VAR Message ?>
<? ENDIF ?>
<? ENDLOOP ?>
</textarea><select multiple style="width: 20%; height: 350px; vertical-align: top; margin: 0">
<? LOOP NickLoop ?>
<? IF ModePrefix == "@" ?>
<option value="<? VAR Nick ?>"><? VAR ModePrefix ?><? VAR Nick ?></option>
<? ENDIF ?>
<? ENDLOOP ?>
<? LOOP NickLoop ?>
<? IF ModePrefix == "+" ?>
<option value="<? VAR Nick ?>"><? VAR ModePrefix ?><? VAR Nick ?></option>
<? ENDIF ?>
<? ENDLOOP ?>
<? LOOP NickLoop ?>
<? IF ModePrefix != "@" && ModePrefix != "+" ?>
<option value="<? VAR Nick ?>"><? VAR ModePrefix ?><? VAR Nick ?></option>
<? ENDIF ?>
<? ENDLOOP ?>
</select>
<input style="width: 95%" type="text" value="This box does nothing so far, and you'll have to refresh to get updates!">

<? INC Footer.tmpl ?>
