<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>ZNC - <?VAR Title ESC=HTML?></title>
	<link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body bgcolor="#FFFFFF" text="#000000" link="#000000" alink="#000000" vlink="#000000">
	<div id="banner">
		<h2><?VAR Title ESC=HTML?></h2>
		<div id="ident"><?VAR SessionUser ESC=HTML?>@<?VAR SessionIP ESC=HTML?></div>
		<div id="tag"><?VAR Tag ESC=HTML ?></div>
	</div>

	<? IF IsAdmin ?>
	<div id="sidebar">
		<ul class="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/settings">Settings</a></li>
			<li><a href="/adduser">Add User</a></li>
			<li><a href="/listusers">List Users</a></li>
		</ul>
	</div>
	<? ENDIF ?>

	<div id="main">

