<? I18N znc-send_raw ?>
<? ADDROW JSLoop HREF=/modfiles/user/send_raw/select.js ?>
<? INC Header.tmpl ?>

<form method="post" action="<? VAR URIPrefix TOP ?><? VAR ModPath ?>">
	<? INC _csrf_check.tmpl ?>

	<div class="section">
		<h3><? FORMAT "Send a raw IRC line" ?></h3>

		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection third" id="userblock" style="display:none">
					<div class="inputlabel"><? FORMAT "User:" ?></div>
					<input id="user" type="text" disabled="disabled" title="<? FORMAT "To change user, click to Network selector" ?>"/>
				</div>

				<div class="subsection third">
					<div class="inputlabel" id="networklabel"><? FORMAT "User/Network:" ?></div>
					<select name="network" id="selectnetwork" onchange="javascript:updateUser()">
						<? LOOP UserLoop ?>
							<optgroup label="<? VAR Username ?>">
								<? LOOP NetworkLoop ?>
									<option value="<? VAR Username ?>/<? VAR Network ?>"><? VAR Network ?></option>
								<? ENDLOOP ?>
							</optgroup>
						<? ENDLOOP ?>
					</select>
				</div>

				<div class="subsection third">
					<div class="inputlabel"><? FORMAT "Send to:" ?></div>
					<select name="send_to">
						<option value="client"<? IF to_client ?> selected="yes"<? ENDIF ?>><? FORMAT "Client" ?></option>
						<option value="server"<? IF to_server ?> selected="yes"<? ENDIF ?>><? FORMAT "Server" ?></option>
					</select>
				</div>

				<div class="subsection full">
					<div class="inputlabel"><? FORMAT "Line:" ?></div>
					<input type="text" name="line" value="<? VAR line ?>" />
				</div>

				<div class="subsection submitline">
					<input type="submit" value="<? FORMAT "Send" ?>"/>
				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/javascript">init();</script>

<? INC Footer.tmpl ?>
