<div class="sectionbg">
	<div class="sectionbody">
		<div class="subsection">
			<input type="hidden" name="embed_blockuser_presented" value="1">
			<input type="hidden" name="embed_blockuser_old" value="<? VAR Blocked ?>">
			<div class="checkbox">
				<input type="checkbox" name="embed_blockuser_block" id="opt_embed_blockuser_block" value="1"<? IF Blocked ?> checked="checked"<? ENDIF ?><? IF Self ?> disabled="disabled"<? ENDIF ?> />
				<label for="opt_embed_blockuser_block">Account is blocked</label>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
