<? INC Header.tmpl ?>

<form action="<? IF Edit ?>/editchan<? ELSE ?>/addchan<? ENDIF ?>" method="post">
	<div class="section">
		<input type="hidden" name="submitted" value="1" />
		<input type="hidden" name="user" value="<? VAR User ESC=HTML ?>" />

		<div class="sectiontitle">Channel Info</div>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection">
					<div class="inputlabel">Channel Name:</div>
				<? IF Edit ?>
					<input type="hidden" name="name" value="<? VAR ChanName ESC=HTML ?>" />
					<? VAR ChanName ESC=HTML ?>
				<? ELSE ?>
					<div><input type="text" name="name" value="" size="32" /></div>
				<? ENDIF ?>
				</div>

				<div class="subsection">
					<div class="inputlabel">Buffergr&ouml;&szlig;e:</div>
					<div><input type="text" name="buffercount" value="<? VAR BufferCount ESC=HTML ?>" size="8" /></div>
				</div>

				<div class="subsection">
					<div class="inputlabel">Vorgabe Modi:</div>
					<div><input type="text" name="defmodes" value="<? VAR DefModes ESC=HTML ?>" size="16" /></div>
				</div>

				<div style="clear: both;"></div>

				<div class="subsection">
					<div class="inputlabel">Speichern:</div>
					<div><input type="checkbox" name="save" id="save" value="true"<? IF InConfig ?> checked="checked"<? ENDIF ?> /><label for="save"> Save to config</label></div>
				</div>

				<div class="subsection">
					<div class="inputlabel">Optionen:</div>
					<? LOOP OptionLoop ?>
					<input type="checkbox" name="<? VAR Name ESC=HTML ?>" id="opt_<? VAR Name ESC=HTML ?>" value="true"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /><label for="opt_<? VAR Name ESC=HTML ?>"> <? VAR DisplayName ESC=HTML ?></label>
					<? ENDLOOP ?>
				</div>

				<div style="clear: both;"></div>
			</div>
		</div>
	</div>

	<div>
		<input type="submit" value="<? IF Edit ?>Speichern<? ELSE ?>Channel hinzuf&uuml;gen<? ENDIF ?>" />
	</div>
</form>


<? INC Footer.tmpl ?>
