<? I18N znc-cert ?>
<? INC Header.tmpl ?>

<? IF Cert ?>
<? SETBLOCK DELLINK ?><a href="<? VAR URIPrefix TOP ?><? VAR ModPath ?>delete"><? FORMAT "here" "TRANSLATORS: this text is inserted into `click here` in the other string"?></a><? ENDSETBLOCK ?>
<p><? FORMAT "You already have a certificate set, use the form below to overwrite the current certificate. Alternatively click {1} to delete your certificate." "DELLINK ESC=" "TRANSLATORS: {1} is `here`, translateable in the other string" ?></p>
<? ELSE ?>
<p><? FORMAT "You do not have a certificate yet." ?></p>
<? ENDIF ?>

<form method="post" action="<? VAR URIPrefix TOP ?><? VAR ModPath ?>update">
	<? INC _csrf_check.tmpl ?>
	<div class="section">
		<h3><? FORMAT "Certificate" ?></h3>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection full">
					<div class="inputlabel"><? FORMAT "PEM File:" ?></div>
					<textarea name="cert" style="height: 300px;"></textarea>
				</div>
				<div class="subsection submitline">
					<input type="submit" name="add" value="<? FORMAT "Update" ?>" />
				</div>
			</div>
		</div>
	</div>
</form>

<? INC Footer.tmpl ?>
