<? INC Header.tmpl ?>

<form method="post" action="/mods/perform/">
	<? INC _csrf_check.tmpl ?>
	<div class="section">
		<h3>Perform</h3>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection full">
					<div class="inputlabel">Perform commands:</div>
					<div><textarea name="perform" cols="70" rows="5" class="monospace"><? LOOP PerformLoop ?><? VAR Perform ?>
<? ENDLOOP ?>
</textarea></div>
					<br /><span class="info">Commands sent to the IRC server on connect, one per line.</span>
				</div>
				<div class="subsection submitline">
					<input type="submit" name="save" value="Save" />
				</div>
			</div>
		</div>
	</div>
</form>

<? INC Footer.tmpl ?>
