<? INC Header.tmpl ?>

<form action="<? IF Edit ?>/edituser<? ELSE ?>/adduser<? ENDIF ?>" method="post">
	<div class="section">
		<input type="hidden" name="submitted" value="1" />

		<div class="sectiontitle">Authentication</div>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection">
					<div class="inputlabel">Username:</div>
					<div>
						<? IF Edit ?>
						<input type="hidden" name="user" value="<? VAR Username ESC=HTML ?>" />
						<input type="text" name="newuser" value="<? VAR Username ESC=HTML ?>" class="half" maxlength="128" disabled="disabled" />
						<? ELSE ?>
						<input type="text" name="user" value="<? VAR Username ESC=HTML ?>" class="half" maxlength="128" />
						<? ENDIF ?>
					</div>

					<div class="inputlabel">Password:</div>
					<div><input type="password" name="password" class="half" maxlength="16" /></div>
					<div class="inputlabel">Confirm Password:</div>
					<div><input type="password" name="password2" class="half" maxlength="16" /></div>
				</div>
				<div>
					<div class="inputlabel">Allowed IPs:</div>
					<textarea name="allowedips" class="half"><? LOOP AllowedHostLoop ?><? VAR Host ESC=HTML ?>
<? ENDLOOP ?>
</textarea>
					<? IF OwnIP ?>
						<div class="subsection">
							<span style="white-space: nowrap;"><input type="checkbox" name="ownip" id="ownip" value="<? VAR OwnIP ESC=HTML ?>" checked="checked" /><label for="ownip"> <? VAR OwnIP ESC=HTML ?> (your current ip)</label></span>&nbsp;&nbsp;
						</div>
					<? ENDIF ?>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="sectiontitle">IRC Information</div>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection">
					<div class="inputlabel">Nick:</div>
					<div><input type="text" name="nick" value="<? VAR Nick ESC=HTML ?>" class="half" maxlength="128" /></div>
				</div>
				<div class="subsection">
					<div class="inputlabel">AltNick:</div>
					<div><input type="text" name="altnick" value="<? VAR AltNick ESC=HTML ?>" class="half" maxlength="128" /></div>
				</div>
				<div style="clear: both;"></div>
				<div class="subsection">
					<div class="inputlabel">Ident:</div>
					<div><input type="text" name="ident" value="<? VAR Ident ESC=HTML ?>" class="half" maxlength="128" /></div>
				</div>
				<div class="subsection">
					<div class="inputlabel">StatusPrefix:</div>
					<div><input type="text" name="statusprefix" value="<? VAR StatusPrefix ESC=HTML ?>" class="half" maxlength="5" /></div>
				</div>
				<div style="clear: both;"></div>
				<div class="subsection">
					<div class="inputlabel">RealName:</div>
					<div><input type="text" name="realname" value="<? VAR RealName ESC=HTML ?>" class="full" maxlength="256" /></div>
				</div>

				<div class="subsection">
			<? IF VHostLoop ?>
					<div class="inputlabel">VHost:</div>
					<select name="vhost">
						<option value="">- Default -</option>
						<? LOOP VHostLoop ?><option value="<? VAR VHost ESC=HTML ?>"<? IF Checked ?> selected="selected"<? ENDIF ?>><? VAR VHost ESC=HTML ?></option><? ENDLOOP ?>
					</select>
			<? ENDIF ?>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection">
					<div class="inputlabel">QuitMsg:</div>
					<div><input type="text" name="quitmsg" value="<? VAR QuitMsg ESC=HTML ?>" class="full" maxlength="256" /></div>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection">
					<div class="inputlabel">Servers:</div>
					<div><textarea name="servers" class="half"><? LOOP ServerLoop ?><? VAR Server ESC=HTML ?>
<? ENDLOOP ?>
</textarea></div>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="sectiontitle">Modules</div>
		<div class="sectionbg">
			<div class="sectionbody">
				<table>
					<thead>
					<tr>
						<td>Name</td>
						<td>Arguments</td>
						<td>Description</td>
					</tr>
					</thead>

				<? LOOP ModuleLoop ?>
					<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
						<td>
							<input type="checkbox" name="loadmod" id="lm_<? VAR Name ESC=HTML ?>" value="<? VAR Name ESC=HTML ?>"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /><label for="lm_<? VAR Name ESC=HTML ?>"> <? VAR Name ESC=HTML ?></label>
						</td>
						<td>
							<? IF Disabled ?><? VAR Args ESC=HTML ?><? ELSE ?><input class="third" type="text" name="modargs_<? VAR Name ESC=HTML ?>" value="<? VAR Args ESC=HTML ?>" /><? ENDIF ?>
						</td>
						<td><? VAR Description ESC=HTML ?></td>
					</tr>
				<? ENDLOOP ?>

				</table>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="sectiontitle">Channels</div>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection">
					<div class="inputlabel">Default Modes:</div>
					<div><input type="text" name="chanmodes" value="<? VAR DefaultChanModes ESC=HTML ?>" class="third" maxlength="32" /></div>
				</div>
				<div style="clear: both;"></div>

			<? IF Edit ?>
				<table>
					<thead>
					<tr>
						<td>[<a href="/addchan?user=<? VAR Username ESC=URL ?>">Add</a>]</td>
				<? IF ChannelLoop ?>
						<td>Save</td>
						<td>Name</td>
						<td>CurModes</td>
						<td>DefModes</td>
						<td>BufferCount</td>
						<td>Options</td>
				<? ELSE ?>
						<td>&nbsp;&nbsp;&lt;- Add a channel (opens in same page)&nbsp;&nbsp;</td>
				<? ENDIF ?>
					</tr>
					</thead>

			<? LOOP ChannelLoop ?>
					<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
						<td>
							<input type="hidden" name="channel" value="<? VAR Name ESC=HTML ?>" />
							[<a href="/editchan?user=<? VAR Username ESC=URL ?>&amp;name=<? VAR Name ESC=URL ?>">Edit</a>] [<a href="/delchan?user=<? VAR Username ESC=URL ?>&amp;name=<? VAR Name ESC=URL ?>">Del</a>]
						</td>
						<td><input type="checkbox" name="save_<? VAR Name ESC=HTML ?>"<? IF InConfig ?> checked="checked"<? ENDIF ?> /></td>
						<td><? VAR Name ESC=HTML ?></td>
						<td><? VAR CurModes ESC=HTML ?></td>
						<td><? VAR DefModes ESC=HTML ?></td>
						<td><? VAR BufferCount ESC=HTML ?></td>
						<td><? VAR Options ESC=HTML ?></td>
					</tr>
			<? ENDLOOP ?>
				</table>
			<? ENDIF ?>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="sectiontitle">ZNC Behavior</div>
		<div class="sectionbg">
			<div class="sectionbody">
				<div class="subsection">
					<div class="inputlabel">Playback Buffer Size:</div>
					<div><input type="text" name="bufsize" value="<? VAR BufferCount ESC=HTML ?>" class="third" maxlength="9" /></div>
				</div>
				<div style="clear: both;"></div>

				<div class="subsection">
					<div class="inputlabel">Options:</div>
					<? LOOP OptionLoop ?>
					<span style="white-space: nowrap;"><input type="checkbox" name="<? VAR Name ESC=HTML?>" id="opt_<? VAR Name ESC=HTML ?>" value="1"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /><label for="opt_<? VAR Name ESC=HTML ?>"><? VAR DisplayName ESC=HTML ?></label></span>&nbsp;&nbsp;
					<? ENDLOOP ?>
				</div>

				<div class="subsection">
					<div class="inputlabel">CTCP Replies:</div>
					<div><textarea name="ctcpreplies" class="half"><? LOOP CTCPLoop ?><? VAR CTCP ESC=HTML ?>
<? ENDLOOP ?>
</textarea></div>
				</div>
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>

	<div>
		<input type="submit" value="Submit" />
	</div>
</form>

<? INC Footer.tmpl ?>
