<? INC Header.tmpl ?>

<form action="<? IF Edit ?>editchan<? ELSE ?>addchan<? ENDIF ?>" method="post">
		<input type="hidden" name="submitted" value="1">
		<input type="hidden" name="user" value="<? VAR User ESC=HTML ?>">

		<table width="95%" cellpadding="0" cellspacing="0">
			<tr>
				<td colspan="2" class="maintitle">Channel Info</td>
			</tr>

			<tr>
				<td class="mainleft">
					Channel Name:
				</td>

				<td class="mainright">
					<? IF Edit ?>
						<input type="hidden" name="name" value="<? VAR ChanName ESC=HTML ?>">
						<? VAR ChanName ESC=HTML ?>
					<? ELSE ?>
						<div><input style="width: 100%;" type="text" name="name" value="" size="32"></div>
					<? ENDIF ?>
				</td>
			</tr>

			<tr>
				<td class="mainleft">
					Buffer Count:
				</td>

				<td class="mainright">
					<input style="width: 100%;" type="text" name="buffercount" value="<? VAR BufferCount ESC=HTML ?>" size="8" />
				</td>
			</tr>

			<tr>
				<td class="mainleft">
					Default Modes:
				</td>

				<td class="mainright">
					<input style="width: 100%;" type="text" name="defmodes" value="<? VAR DefModes ESC=HTML ?>" size="16" />
				</td>
			</tr>

			<tr>
				<td class="mainleft">
					Save:
				</td>

				<td class="mainright">
					<input type="checkbox" name="save" id="save" value="true"<? IF InConfig ?> checked="checked"<? ENDIF ?> /><label for="save"> Save to config</label>
				</td>
			</tr>

			<tr>
				<td class="mainleft">
					Options:
				</td>

				<td class="mainright">
					<? LOOP OptionLoop ?>
					<input type="checkbox" name="<? VAR Name ESC=HTML ?>" id="opt_<? VAR Name ESC=HTML ?>" value="true"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /><label for="opt_<? VAR Name ESC=HTML ?>"> <? VAR DisplayName ESC=HTML ?></label><br>
					<? ENDLOOP ?>
				</td>
			</tr>
		</table>

	<br><br><input type="submit" value="<? IF Edit ?>Save<? ELSE ?>Add Channel<? ENDIF ?>" />
</form>


<? INC Footer.tmpl ?>
