<? INC Header.tmpl ?>

		<?IF !UserLoop?>
			There are no users defined.<br>
			Click <a href="adduser">here</a>, if you would like to add one.
		<?ELSE?>

			<table width="98%" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;" align="center">
				<tr>
					<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Action</td>
					<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Username</td>
					<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Clients</td>
					<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Current Server</td>
					<td class="main2title" style="border-bottom: 1px solid #000000;">IRC Nick</td>
				</tr>

				<?LOOP UserLoop?>
					<tr class="<?IF __EVEN__?>evenrow<?ELSE?>oddrow<?ENDIF?>">
						<td>
							<span class="nowrap">
								[<a href="edituser?user=<?VAR Username ESC=URL?>">Edit</a>]
								<? IF !IsSelf ?>[<a href="deluser?user=<?VAR Username ESC=URL?>" onClick="return confirm('Do you really wish to remove this user?');">Delete</a>]<? ENDIF ?>
							</span>
						</td>
						<td><b><? VAR Username ESC=HTML ?></b></td>
						<td><? VAR Clients ESC=HTML ?></td>
						<td><? VAR Server ESC=HTML DEFAULT="-N/A-" ?></td>
						<td style="border-right: 0px;"><? VAR IRCNick ESC=HTML ?></td>
					</tr>
				<?ENDLOOP?>
			</table>
		<?ENDIF?>
<? INC Footer.tmpl ?>
