<? INC Header.tmpl ?>

<form action="settings" method="POST">
		<input type="hidden" name="submitted" value="1">

			<table width="95%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="maintitle">Listen Port(s)</td>
				</tr>

				<tr>
					<td class="mainalone">
						<table width="98%" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;" align="center">
							<tr>
								<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Port</td>
								<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">BindHost</td>
								<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">SSL</td>
								<td class="main2title" style="border-bottom: 1px solid #000000;">IPv6</td>
							</tr>

							<? LOOP ListenLoop ?>
							<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
								<td><? VAR Port ESC=HTML ?></td>
								<td><? VAR BindHost ESC=HTML DEFAULT=* ?></td>
								<td><? IF IsSSL ?>True<? ELSE ?>False<? ENDIF ?></td>
								<td style="border-right: 0px;"><? IF IsIPV6 ?>True<? ELSE ?>False<? ENDIF ?></td>
							</tr>
							<? ENDLOOP ?>
						</table>
					</td>
				</tr>
			</table>

			<table width="95%" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
				<tr>
					<td colspan="2" class="maintitle">Settings</td>
				</tr>

				<tr>
					<td class="mainleft">
						Skin:
					</td>

					<td class="mainright">
						<select name="skin">
							<? LOOP SkinLoop ?>
							<option value="<? VAR Name ESC=HTML ?>"<? IF Checked ?> selected="selected"<? ENDIF ?>><? VAR Name ESC=HTML ?></option>
							<? ENDLOOP ?>
						</select>
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Status prefix:
					</td>

					<td class="mainright">
						<input type="text" name="statusprefix" value="<? VAR StatusPrefix ESC=HTML ?>" size="32" maxlength="128">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						ISpoofFile:
					</td>

					<td class="mainright">
						<input type="text" name="ispooffile" value="<? VAR ISpoofFile ESC=HTML ?>" size="32" maxlength="128">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						ISpoofFormat:
					</td>

					<td class="mainright">
						<input type="text" name="ispoofformat" value="<? VAR ISpoofFormat ESC=HTML ?>" size="32" maxlength="128">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						MOTD:
					</td>

					<td class="mainright">
						<textarea name="motd" cols="10" style="width: 99%;" rows="5"><? LOOP MOTDLoop ?><? VAR Line ESC=HTML ?><? ENDLOOP ?>
</textarea>
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						VHosts:
					</td>

					<td class="mainright">
						<textarea name="vhosts" cols="10" style="width: 99%;" rows="5"><? LOOP VHostLoop ?><? VAR VHost ESC=HTML ?><? ENDLOOP ?>
</textarea>
					</td>
				</tr>

			</table>

			<table width="95%" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
				<tr>
					<td class="maintitle">Global Module(s)</td>
				</tr>

				<tr>
					<td class="mainalone">
						<table width="98%" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;" align="center">
							<tr>
								<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Name</td>
								<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Arguments</td>
								<td class="main2title" style="border-bottom: 1px solid #000000;">Description</td>
							</tr>

							<? LOOP ModuleLoop ?>
							<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
								<td><span style="white-space: nowrap;"><input type="checkbox" name="loadmod" id="lm_<? VAR Name ESC=HTML ?>" value="<? VAR Name ESC=HTML ?>"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /><label for="lm_<? VAR Name ESC=HTML ?>"> <? VAR Name ESC=HTML ?></label></span></td>
								<td><input type="text" name="modargs_<? VAR Name ESC=HTML ?>" value="<? VAR Args ESC=HTML ?>" /></td>
								<td style="border-right: 0px;"><? VAR Description ESC=HTML ?></td>
							</tr>
							<? ENDLOOP ?>
						</table>
					</td>
				</tr>
			</table>

	<br><br>
	<input type="submit" value="Save settings" />
</form>

<? INC Footer.tmpl ?>
