<? INC Header.tmpl ?>

<form action="<? IF Edit ?>edituser<? ELSE ?>adduser<? ENDIF ?>" method="post">
		<input type="hidden" name="submitted" value="1">

			<table width="95%" cellpadding="0" cellspacing="0">
				<tr>
					<td colspan="2" class="maintitle">Authentication</td>
				</tr>

				<tr>
					<td class="mainleft">
						Username:
					</td>

					<td class="mainright">
						<? IF Edit ?>
						<input type="hidden" name="user" style="width: 100%;" value="<? VAR Username ESC=HTML ?>">
						<input type="text" name="newuser" style="width: 100%;" value="<? VAR Username ESC=HTML ?>" size="32" maxlength="128" disabled="disabled">
						<? ELSE ?>
						<input type="text" name="user" style="width: 100%;" value="<? VAR Username ESC=HTML ?>" size="32" maxlength="128">
						<? ENDIF ?>
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Password:
					</td>

					<td class="mainright">
						<input type="password" style="width: 100%;" name="password" size="32">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Confirm password:
					</td>

					<td class="mainright">
						<input type="password" style="width: 100%;" name="password2" size="32">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Allowed IPs:
					</td>

					<td class="mainright">
						<textarea style="width: 100%;" name="allowedips" cols="40" rows="5"><? LOOP AllowedHostLoop ?><? VAR Host ESC=HTML ?>
<? ENDLOOP ?>
</textarea>

						<? IF OwnIP ?>
						<br><br><input type="checkbox" id="ownip" name="ownip" value="<? VAR OwnIP ESC=HTML ?>" checked="checked"><label for="ownip"> <? VAR OwnIP ESC=HTML ?> (your current ip)</label>
						<? ENDIF ?>
					</td>
				</tr>
			</table>

			<table width="95%" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
				<tr>
					<td colspan="2" class="maintitle">IRC Information</td>
				</tr>

				<tr>
					<td class="mainleft">
						Nickname:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="nick" value="<? VAR Nick ESC=HTML ?>" size="22" maxlength="128">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Alt. Nickname:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="altnick" value="<? VAR AltNick ESC=HTML ?>" size="22" maxlength="128">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Status Prefix:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="statusprefix" value="<? VAR StatusPrefix ESC=HTML ?>" size="16" maxlength="5">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Ident:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="ident" value="<? VAR Ident ESC=HTML ?>" size="22" maxlength="128">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Realname:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="realname" value="<? VAR RealName ESC=HTML ?>" size="68" maxlength="256">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						VHost:
					</td>

					<td class="mainright">
						<select name="vhost" style="width: 100%;">
						<option value="">- Default -</option>
						<? LOOP VHostLoop ?><option value="<? VAR VHost ESC=HTML ?>"<? IF Checked ?> selected="selected"<? ENDIF ?>><? VAR VHost ESC=HTML ?></option><? ENDLOOP ?>
						</select>
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Quit-MSG:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="quitmsg" value="<? VAR QuitMsg ESC=HTML ?>" size="68" maxlength="256">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Servers:
					</td>

					<td class="mainright">
						<textarea style="width: 100%;" name="servers" cols="40" rows="5"><? LOOP ServerLoop ?><? VAR Server ESC=HTML ?>
<? ENDLOOP ?>
</textarea>
					</td>
				</tr>

			</table>

			<table width="95%" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
				<tr>
					<td class="maintitle">Module(s)</td>
				</tr>

				<tr>
					<td class="mainalone">
						<table width="98%" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;" align="center">
							<tr>
								<td width="100" class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Name</td>
								<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Arguments</td>
								<td class="main2title" style="border-bottom: 1px solid #000000;">Description</td>
							</tr>

							<? LOOP ModuleLoop ?>
							<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
								<td>
									<input type="checkbox" name="loadmod" id="lm_<? VAR Name ESC=HTML ?>" value="<? VAR Name ESC=HTML ?>"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /><label for="lm_<? VAR Name ESC=HTML ?>"> <? VAR Name ESC=HTML ?></label>
								</td>
								<td>
									<? IF Disabled ?><? VAR Args ESC=HTML ?><? ELSE ?><input type="text" name="modargs_<? VAR Name ESC=HTML ?>" value="<? VAR Args ESC=HTML ?>" /><? ENDIF ?>
								</td>
								<td style="border-right: 0px;"><? VAR Description ESC=HTML ?></td>
							</tr>
							<? ENDLOOP ?>
						</table>
					</td>
				</tr>
			</table>

			<table width="95%" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
				<tr>
					<td colspan="2" class="maintitle">Channel(s)</td>
				</tr>

				<tr>
					<td class="mainleft">
						Default Modes:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="chanmodes" value="<? VAR DefaultChanModes ESC=HTML ?>" size="32" maxlength="32">
					</td>
				</tr>

				<tr>
					<td colspan="2" class="mainalone">
						<? IF Edit ?>
							<table width="98%" cellpadding="0" cellspacing="0" style="border: 1px solid #000000;" align="center">
							<tr>
								<td width="100" class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">[<a href="addchan?user=<? VAR Username ESC=URL ?>">Add</a>]</td>
								<? IF ChannelLoop ?>
									<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Save</td>
									<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">Name</td>
									<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">CurModes</td>
									<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">DefModes</td>
									<td class="main2title" style="border-bottom: 1px solid #000000; border-right: 1px solid #000000;">BufferCount</td>
									<td class="main2title" style="border-bottom: 1px solid #000000;">Options</td>
								<? ELSE ?>
									<td class="main2title" style="border-bottom: 1px solid #000000;">- Add a channel (opens in same page)</td>
								<? ENDIF ?>
							</tr>

							<? LOOP ChannelLoop ?>
								<tr class="<? IF __EVEN__ ?>evenrow<? ELSE ?>oddrow<? ENDIF ?>">
									<td>
										<input type="hidden" name="channel" value="<? VAR Name ESC=HTML ?>" />
										[<a href="editchan?user=<? VAR Username ESC=URL ?>&amp;name=<? VAR Name ESC=URL ?>">Edit</a>] [<a href="delchan?user=<? VAR Username ESC=URL ?>&amp;name=<? VAR Name ESC=URL ?>">Del</a>]
									</td>
									<td><input type="checkbox" name="save_<? VAR Name ESC=HTML ?>"<? IF InConfig ?> checked="checked"<? ENDIF ?> /></td>
									<td><? VAR Name ESC=HTML ?></td>
									<td><? VAR CurModes ESC=HTML ?></td>
									<td><? VAR DefModes ESC=HTML ?></td>
									<td><? VAR BufferCount ESC=HTML ?></td>
									<td style="border-right: 0px;"><? VAR Options ESC=HTML ?></td>
								</tr>
							<? ENDLOOP ?>
							</table>
						<? ENDIF ?>
					</td>
				</tr>

			</table>

			<table width="95%" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
				<tr>
					<td colspan="2" class="maintitle">ZNC Behavior</td>
				</tr>

				<tr>
					<td class="mainleft">
						Playback Buffer Size:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="bufsize" value="<? VAR BufferCount ESC=HTML ?>" size="32" maxlength="9">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Timestamp Format:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="timestampformat" value="<? VAR TimestampFormat ESC=HTML ?>" size="32">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Timezone offset:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="timezoneoffset" value="<? VAR TimezoneOffset ESC=HTML ?>" size="32">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Join Tries:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="jointries" value="<? VAR JoinTries ESC=HTML ?>" size="32">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Max Joins:
					</td>

					<td class="mainright">
						<input style="width: 100%;" type="text" name="maxjoins" value="<? VAR MaxJoins ESC=HTML ?>" size="32">
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						Options:
					</td>

					<td class="mainright">
						<? LOOP OptionLoop ?>
						<input type="checkbox" name="<? VAR Name ESC=HTML?>" id="opt_<? VAR Name ESC=HTML ?>" value="1"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /><label for="opt_<? VAR Name ESC=HTML ?>"><? VAR DisplayName ESC=HTML ?></label><br>
						<? ENDLOOP ?>
					</td>
				</tr>

				<tr>
					<td class="mainleft">
						CTCP Replies:
					</td>

					<td class="mainright">
						<textarea style="width: 100%;" name="ctcpreplies" cols="40" rows="5"><? LOOP CTCPLoop ?><? VAR CTCP ESC=HTML ?>
<? ENDLOOP ?>
</textarea>
					</td>
				</tr>

			</table>


		<br><br><input type="submit" value="<? IF Edit ?>Save User<? ELSE ?>Add User<? ENDIF ?>">
</form>

<? INC Footer.tmpl ?>
