<? INC Header.tmpl ?>

<form action="settings" method="POST">
		<input type="hidden" name="submitted" value="1">
			<table class="section">
				<thead><tr><td>Listen Port(s)</td></tr></thead>

				<tbody>
					<tr>
						<td>
							<table class="data">
								<thead>
									<tr>
										<td>Port</td>
										<td>BindHost</td>
										<td>SSL</td>
										<td>IPv4</td>
										<td>IPv6</td>
									</tr>
								</thead>

								<tbody>
									<? LOOP ListenLoop ?>
									<tr class="<? IF __EVEN__ ?>altrow<? ENDIF ?>">
										<td><? VAR Port ?></td>
										<td><? VAR BindHost DEFAULT=** ?></td>
										<td><? IF IsSSL ?>True<? ELSE ?>False<? ENDIF ?></td>
										<td><? IF IsIPV4 ?>True<? ELSE ?>False<? ENDIF ?></td>
										<td><? IF IsIPV6 ?>True<? ELSE ?>False<? ENDIF ?></td>
									</tr>
									<? ENDLOOP ?>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="section">
				<thead><tr><td colspan="2">Settings</td></tr></thead>

				<tbody>
					<tr>
						<td>
							Skin:
						</td>

						<td>
							<? IF SkinLoop ROWS > 1 ?>
							<select name="skin">
								<? LOOP SkinLoop ?>
								<option value="<? VAR Name ?>"<? IF Checked ?> selected="selected"<? ENDIF ?>><? VAR Name ?></option>
								<? ENDLOOP ?>
							</select>
							<? ELSE ?>
							No other skins found
							<? ENDIF ?>
						</td>
					</tr>

					<tr>
						<td>
							Status prefix:
						</td>

						<td>
							<input type="text" name="statusprefix" value="<? VAR StatusPrefix ?>" size="32" maxlength="128">
						</td>
					</tr>

					<tr>
						<td>
							ISpoofFile:
						</td>

						<td>
							<input type="text" name="ispooffile" value="<? VAR ISpoofFile ?>" size="32" maxlength="128">
						</td>
					</tr>

					<tr>
						<td>
							ISpoofFormat:
						</td>

						<td>
							<input type="text" name="ispoofformat" value="<? VAR ISpoofFormat ?>" size="32" maxlength="128">
						</td>
					</tr>

					<tr>
						<td>
							MOTD:
						</td>

						<td>
							<textarea name="motd" cols="10" rows="5"><? LOOP MOTDLoop ?><? VAR Line ?>
	<? ENDLOOP ?>
	</textarea>
						</td>
					</tr>

					<tr>
						<td>
							VHosts:
						</td>

						<td>
							<textarea name="vhosts" cols="10" rows="5"><? LOOP VHostLoop ?><? VAR VHost ?>
	<? ENDLOOP ?>
	</textarea>
						</td>
					</tr>
				</tbody>
			</table>

			<table class="section">
				<thead><tr><td>Global Module(s)</td></tr></thead>

				<tbody>
					<tr>
						<td>
							<table class="data">
								<thead>
									<tr>
										<td>Name</td>
										<td>Arguments</td>
										<td>Description</td>
									</tr>
								</thead>

								<tbody>
									<? LOOP ModuleLoop ?>
									<tr class="<? IF __EVEN__ ?>altrow<? ENDIF ?>">
										<td><span class="nowrap"><input type="checkbox" class="checkbox" name="loadmod" id="lm_<? VAR Name ?>" value="<? VAR Name ?>"<? IF Checked ?> checked="checked"<? ENDIF ?><? IF Disabled ?> disabled="disabled"<? ENDIF ?> /><label for="lm_<? VAR Name ?>"> <? VAR Name ?></label></span></td>
										<td><input type="text" name="modargs_<? VAR Name ?>" value="<? VAR Args ?>" /></td>
										<td><? VAR Description ?></td>
									</tr>
									<? ENDLOOP ?>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>

	<br><br>
	<input type="submit" value="Save settings" />
</form>

<? INC Footer.tmpl ?>
