					</td>
					<!-- / Main -->
				</tr>
				<!-- / Main -->

				<!-- Cbar -->
				<tr>
					<td colspan="2" class="cbar">
						<i>ZNC WebAdmin style "dark-clouds" by <a href="mailto:davidp@preshweb.co.uk">David Precious</a></i>
					</td>
				</tr>
				<!-- / Cbar -->

			</table>
		</center>
	</body>
</html>
