<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
		<title>ZNC - Webadmin module - <?VAR Title ESC=HTML?></title>
		<link rel="stylesheet" type="text/css" href="<?VAR Skin ESC=URL?>/main.css">
	</head>

	<body>
		<center>
			<table width="800" cellpadding="0" cellspacing="0">
				<!-- Header -->
				<tr>
					<td colspan="2" class="header"><?VAR Tag ESC=HTML ?></td>
				</tr>
				<!-- / Header -->

				<!-- Loginbar -->
				<tr>
					<td colspan="2" class="loginbar">
						<table width="100%" height="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td style="padding-left: 5px;"><b>Logged in as:</b> <?VAR SessionUser ESC=HTML?> <i>(from: <?VAR SessionIP ESC=HTML?>)</i></td>
								<td class="switchuser"><a href="switchuser">Logout</a></td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- / Loginbar -->

				<!-- Main -->
				<tr>
					<!-- Menu -->
					<td class="menu">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td class="menu<? IF Action != "home" ?>in<? ENDIF ?>active"><a href="home">Home</a></td>
							</tr>

							<? IF IsAdmin ?>
							<tr>
								<td class="menu<? IF Action != "settings" ?>in<? ENDIF ?>active"><a href="settings">Settings</a></td>
							</tr>
							<tr>
								<td class="menu<? IF Action != "adduser" ?>in<? ENDIF ?>active"><a href="adduser">Add User</a></td>
							</tr>
							<tr>
								<td class="menu<? IF Action != "listusers" && Action != "edituser" ?>in<? ENDIF ?>active"><a href="listusers">List Users</a></td>
							</tr>
							<? ELSE ?>
							<tr>
								<td class="menu<? IF Action != "edituser" ?>in<? ENDIF ?>active"><a href="edituser">My Settings</a></td>
							</tr>
							<? ENDIF ?>
						</table>
					</td>
					<!-- / Menu -->

					<!-- Main -->
					<td class="main">
						<div style="padding-bottom: 6px; margin-bottom: 13px; border-bottom: 1px solid #000">ZNC Webadmin <b>&raquo; <?VAR Title ESC=HTML?></b></div>
