<? I18N znc-log ?>
<? INC Header.tmpl ?>

<? IF Module == "Global" ?>
    <h3>Logs cannot be accessed from the Global Module.</h3>
<? ELSE ?>
    <? IF Files ?>
        <h3>File Browser</h3>
        <div class="sectionbg">
            <div class="sectionbody">
                <ul style="list-style: none;">
                    <? LOOP Files ?>
                        <li>
                            <form action="<? VAR ModPath TOP ?>" method="post">
                                <? INC _csrf_check.tmpl ?>
                                <input type="hidden" name="path" value="<? VAR Long ?>">
                                <button type="submit"><? VAR Short ?></button>
                            </form>
                        </li>
                    <? ENDLOOP ?>
                </ul>
            </div>
        </div>
    <? ENDIF ?>
    <? IF Log ?>
        <h3>Log Viewer (Page <? VAR Page ?>)</h3>
        <div class="sectionbg">
            <div class="sectionbody">
                <code style="display: block; margin-bottom: 0.5em;">
                    <? LOOP Log ?>
                        <? VAR Line ?><br>
                    <? ENDLOOP ?>
                </code>
                <? IF PrevOffsets ?>
                    <form action="<? VAR ModPath TOP ?>" method="post">
                        <? INC _csrf_check.tmpl ?>
                        <input type="hidden" name="path" value="<? VAR Path ?>">
                        <? LOOP PrevOffsets ?>
                            <input type="hidden" name="offsets" value="<? VAR Offset ?>">
                        <? ENDLOOP ?>
                        <button type="submit">Prev</button>
                    </form>
                <? ENDIF ?>
                <? IF NextOffsets ?>
                    <form action="<? VAR ModPath TOP ?>" method="post">
                        <? INC _csrf_check.tmpl ?>
                        <input type="hidden" name="path" value="<? VAR Path ?>">
                        <? LOOP NextOffsets ?>
                            <input type="hidden" name="offsets" value="<? VAR Offset ?>">
                        <? ENDLOOP ?>
                        <button type="submit">Next</button>
                    </form>
                <? ENDIF ?>
            </div>
        </div>
    <? ENDIF ?>
<? ENDIF ?>

<? INC Footer.tmpl ?>
