					</td>
					<!-- / Main -->
				</tr>
				<!-- / Main -->

				<!-- Cbar -->
				<tr>
					<td colspan="2" class="cbar">
						<i>ZNC WebAdmin (Deutsch) style "graphiX" by <a href="mailto:daniel@danielschmitz.de">d4n13L</a></i>
					</td>
				</tr>
				<!-- / Cbar -->

			</table>
		</center>
	</body>
</html>