<? INC Header.tmpl ?>

<div class="textsection">

<p>Welcome to the ZNC webadmin module. All changes you make will be in effect immediately after
	you submitted them.</p>

</div>

<? INC Footer.tmpl ?>
