@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #fff;
	color: #000;
	font-family: Tahoma, sans-serif;
}

a, a:link, a:active, a:visited, a:focus {
	color: #00008B;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

#main a:visited {
	color: #99008B;
}

#container {
	background-color: #eee;
	min-height: 80%;
	overflow: hidden;
	margin: 0 auto;
	width: 800px;

	border: 1px solid #ccc;
	border-top: none;
	-moz-box-shadow: 0 0 1em #666;
	-webkit-box-shadow: 0 0 1em #666;
}

#tag {
	height: 4em;
	line-height: 4em;
	text-align: center;
	font-size: 70%;
	color: #aaa;
}

#navbar {
	display: block;
	height: 45px;
	background-color: #ccc;
}

#navbar h1 {
	float: left;
	line-height: 45px;
	padding: 0 0.9em 0 0.6em;
	font-style: italic;
	background-color: #aaa;
	font-size: 100%;
	font-weight: normal;
}

ul.nav {
	float: left;
	margin-left: 20px;
}

ul.nav li {
	list-style: none;
	float: left;
	margin-right: 55px;
}

ul.nav li a {
	line-height: 45px;
	height: 45px;
	display: inline-block;
}

#ident {
	text-align: right;
	padding: 4px;
	font-size: 70%;
	color: #888;
}

ul.nav li:before {
	content: "» ";
}

#main {
	clear: both;
	padding: 0 20px 20px 20px;

	font-size: 90%;
}

h2 {
	margin-bottom: 0.4em;
}

h3 {
	margin-top: 1.2em;
	margin-bottom: 0.4em;
}

.section {
	clear: both;
}

.sectionbody {
	margin-left: 1em;
}

.sectionbody input, textarea, select {
	border: 2px solid #ccc;
	font-family: Tahoma, sans-serif;
	padding: 3px;
	font-size: 14px;
}

input:focus, textarea:focus, select:focus {
	-moz-box-shadow: 0 0 0.4em #aaa;
	-webkit-box-shadow: 0 0 0.4em #aaa;
}

textarea {
	height: 90px;
}

.submitline input {
	width: 200px;
	height: 2.2em;
}

input.full, textarea.full,
.full input, .full textarea {
	width: 600px;
}

input.twothird, textarea.twothird,
.twothird input, .twothird textarea {
	width: 450px;
}

input.half, textarea.half,
.half input, .half textarea {
	width: 300px;
}

input.third, textarea.third,
.third input, .third textarea {
	width: 150px;
}

table {
	border: 1px solid #ccc;
}

td {
	padding: 5px 10px;
	min-width: 80px;
}

thead td {
	background-color: #a0a0a0;
}

tbody td {
	background-color: #cecece;
}

tr.evenrow td {
	background-color: #dadada;
}

div.submitline {
	margin: 1em;
}

.info {
	font-style: italic;
	font-size: 80%;
}

.subsection {
	clear: both;
	margin: 0;
}

.subsection div {
	float: left;
}

.subsection .inputlabel {
	width: 120px;
	text-align: right;
	padding: 10px 5px 0 0;
}

.subsection input, .subsection select, .subsection textarea {
	margin: 5px 0 5px 0;
	vertical-align: middle;
}

.section .info {
	margin-bottom: 5px;
	display: block;
}

.subsection .info {
	text-align: right;
}

.half .info {
	width: 435px;
}

.third .info {
	width: 285px;
}

.twothird .info {
	width: 585px;
}

td.mod_descr,
td.mod_name,
td.mod_args input {
	font-size: 80%;
}

.checkboxandlabel {
	white-space: nowrap;
}

.lotsofcheckboxes .checkboxandlabel {
	display: block;
	float: left;
	width: 200px;
	margin-top: 0.5em;
}
