.encoding-placeholder-big {
	text-decoration:underline;
	font-style:italic;
}

.encoding-settings {
	width: 500px;
}

table .sorted::after {
	content:" ▾";
}
table .reverse-sorted::after {
	content:" ▴";
}