<? INC Header.tmpl ?>

<div class="textsection">

	<p>Welcome to ZNC's web interface!</p>

	<?IF LoggedIn ?>
		<?IF !GlobalModLoop ?>
			<?IF !UserModLoop ?>
				<p>No Web-enabled modules have been loaded. Load modules from IRC ("<code>/msg *status help</code>" and
					"<code>/msg *status loadmod &lt;module&gt;</code>"). Once you have loaded some Web-enabled modules, the menu will expand.</p>
			<? ENDIF ?>
		<? ENDIF ?>
	<? ENDIF ?>

</div>

<? INC Footer.tmpl ?>
