			<div id="infobar">
				<span id="infobar_ident">Logged in as: <span class="user_name"><? VAR SessionUser DEFAULT="-Guest-" ?></span> (from <? VAR SessionIP ?>)</span>
				<? INC LoginBar.tmpl ?>
			</div>
