						<? LOOP ErrorLoop ?>
						<div class="errorbar"><? VAR Message ?></div>
						<? ENDLOOP ?>

						<? LOOP SuccessLoop ?>
						<div class="successbar"><? VAR Message ?></div>
						<? ENDLOOP ?>
