			<div class="sectionbg">
				<div class="sectionbody">
<div class="subsection">
	<input type="hidden" name="embed_stickychan_presented" value="1">
	<div class="checkbox">
		<input type="checkbox" name="embed_stickychan_sticky" id="opt_embed_stickychan_sticky" value="1"<? IF Sticky ?> checked="checked"<? ENDIF ?> />
		<label for="opt_embed_stickychan_sticky">Channel is sticky</label>
	</div>
</div>
<div style="clear:both;"></div>
				</div>
			</div>
