@charset "UTF-8";

:root {
  color-scheme: light dark;
  --page-background-color: light-dark(#ffffff, #131314);
  --page-color: light-dark(#000000, #fafafa);

  --page-title-background-color: light-dark(#aaaaaa, #3e3e3f);

  --wrapper-background-color: light-dark(#eeeeee, #1b1b1c);
  --wrapper-border-color: light-dark(#cccccc, #464646);
  --wrapper-box-shadow-color: light-dark(#666666, #29292a);

  --link-color: light-dark(#00008b, #4493f8);

  --main-link-visited-color: light-dark(#99008B, #b74cad);

  --menu-border-color: light-dark(#aaaaaa, #3e3e3f);

  --breadcrumb-border-color: light-dark(#aaaaaa, #3e3e3f);

  --submit-line-border-color: light-dark(#aaaaaa, #3e3e3f);

  --errorbar-background-color: light-dark(#900000, #5d0000);
  --errorbar-color: light-dark(#ffffff, #dcdcdc);

  --successbar-background-color: light-dark(#009000, #005d00);
  --successbar-color: light-dark(#ffffff, #dcdcdc);

  --banner-background-color: light-dark(#cccccc, #2a2a2b);
  --banner-link-color: light-dark(#000000, #fafafa);

  --infobar-background-color: light-dark(#cccccc, #2a2a2b);
  --infobar-color: light-dark(#333333, #dcdcdc);

  --infobar-input-background-color: light-dark(#ffffff, #0c0c0d);
  --infobar-input-border-color: light-dark(#333333, #6b6b6c);

  --input-border-color: light-dark(#cccccc, #3e3e3f);
  --input-background-color: light-dark(#ffffff, #0c0c0d);
  --input-focus-box-shadow-color: light-dark(#aaaaaa, #6b6b6c);

  --table-border-color: light-dark(#cccccc, #3e3e3f);
  --table-cell-background-color: light-dark(#cecece, #131314);
  --table-even-row-background-color: light-dark(#dadada, #1e1e1f);
  --table-header-background-color: light-dark(#a0a0a0, #29292a);
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: var(--page-background-color);
	color: var(--page-color);
	font-family: Tahoma, sans-serif;
}

a, a:link, a:active, a:visited, a:focus {
  color: var(--link-color);
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

#main a:visited {
	color: var(--main-link-visited-color);
}

#wrapper {
  background-color: var(--wrapper-background-color);
	min-height: 80%;
	overflow: hidden;
	margin: 0 auto;
	width: 900px;

  border: 1px solid var(--wrapper-border-color);
	border-top: none;
	box-shadow: 0 0 1em var(--wrapper-box-shadow-color);
}

#banner_top {
  background-color: var(--banner-background-color);
}

#banner_top a {
	color: var(--banner-link-color);
	text-decoration: none;
}

h1 {
	line-height: 37px;
	padding: 0 0.9em 0 0.6em;
	width: 50px;
	text-align: center;
  background-color: var(--page-title-background-color);
	font-weight: normal;
	font-style: italic;
	font-size: 100%;
}

#tag {
	height: 4em;
	line-height: 4em;
	text-align: center;
	font-size: 70%;
	color: #aaa;
}

#main {
	padding: 0 20px 20px 20px;
	font-size: 90%;
	width: 680px;
}

#menu {
	border-left: 2px solid var(--menu-border-color);
	padding-left: 10px;
	position: absolute;
	margin-left: 700px;
	width: 170px;
	font-size: 14px;
}

ul.nav, ul.nav li, ul.nav ul {
	list-style: none;
}

ul.nav li.topitem {
	margin-right: 55px;
}

ul.nav li, ul.nav li.topitem .title {
	display: block;
	margin-bottom: 5px;
}

ul.nav li.subitem {
	font-size: 90%;
}

ul.nav li.topitem:before,
ul.nav li.modtitle:before {
	content: "» ";
}

ul.nav li.topitem, ul.nav li.modtitle {
	padding-left: 3px;
}

ul.nav li.parent:before {
	content: "";
}

ul.nav li.parent {
	padding-left: 0;
}

ul.nav li.subitem {
	margin-left: 20px;
}

#infobar {
	text-align: right;
	clear: both;
	position: relative;
	top: -30px;
	margin-left: 485px;
	background-color: var(--infobar-background-color);
  color: var(--infobar-color)
	padding: 0 6px 3px 0;
}

.errorbar + #infobar {
	top: -59px;
}

#infobar input {
  background-color: var(--infobar-input-background-color);
	border: none;
	font-family: Tahoma, sans-serif;
	padding: 1px;
	font-size: 14px;
	margin: 0 4px;
	width: 120px;
}

#infobar input.submit {
	border: 1px solid var(--infobar-input-border-color);
	font-size: 12px;
	width: 60px;
}

#infobar_ident, .logoutbox, .loginbox {
	padding: 4px;
	font-size: 70%;
}

#infobar_ident {
	margin-right: 4px;
}

.logoutbox, .loginbox {
	padding-top: 7px;
}

.successbar,
.errorbar {
	width: 100%;
	background-color: var(--errorbar-background-color);
  color: var(--errorbar-color);
	padding: 5px 10px;
	font-weight: bold;
}

.successbar {
	background-color: var(--successbar-background-color);
  color: var(--successbar-color);
}

h2 {
	margin-bottom: 0.4em;
}

h3 {
	margin-top: 1.2em;
	margin-bottom: 0.4em;
}

.textsection, .toptable {
	width: 670px;
	overflow: hidden;
}

.section {
	clear: both;
}

.sectionbody {
	margin-left: 1em;
}

.sectionbody input, textarea, select {
  background-color: var(--input-background-color);
	border: 2px solid var(--input-border-color);
	font-family: Tahoma, sans-serif;
	padding: 3px;
	font-size: 14px;
}

input:focus, textarea:focus, select:focus {
	box-shadow: 0 0 0.4em var(--input-focus-box-shadow-color);
	outline: none; /* for webkit */
}

textarea {
	height: 90px;
}

div.submitline {
	margin: 1em;
	padding-top: 1em;
	border-top: 1px solid var(--submit-line-border-color);
}

.submitline input {
	width: 200px;
	height: 2.2em;
}

input.full, textarea.full,
.full input, .full textarea {
	width: 500px;
}

input.twothird, textarea.twothird,
.twothird > input, .twothird > textarea {
	width: 450px;
}

input.half, textarea.half,
.half > input, .half > textarea {
	width: 300px;
}

input.third, textarea.third,
.third > input, .third > textarea {
	width: 150px;
}

input.sixth, textarea.sixth,
.sixth > input, .sixth > textarea {
	width: 75px;
}

input[type=number] {
	width: 75px;
	min-width: 75px;
}

table {
	border: 1px solid var(--table-border-color);
	border-spacing: 1px;
}

td, th {
	padding: 5px 7px;
	min-width: 35px;
}

thead td, th {
	background-color: var(--table-header-background-color);
}

th {
	text-align: left;
}

tbody td {
  background-color: var(--table-cell-background-color);
}

tr.evenrow td {
	background-color: var(--table-even-row-background-color);
}

.info {
	font-style: italic;
	font-size: 80%;
}

.subsection::after {
	content: "";
	clear: both;
	display: table;
}

.subsection div {
	float: left;
}

.subsection .inputlabel {
	width: 120px;
	text-align: right;
	padding: 10px 5px 0 0;
}

.subsection > input, .subsection select, .subsection textarea {
	margin: 5px 0 5px 0;
	min-width: 75px;
	vertical-align: middle;
}

.subsection div.checkbox {
	padding: 9px 0 0 3px;
	max-width: 537px;
}

.subsection div.checkbox label {
	vertical-align: top;
	display: inline-block;
	max-width:510px;
}

.section .info {
	margin-bottom: 5px;
	display: block;
}

.subsection .info {
	text-align: right;
}

.half .info {
	width: 435px;
}

.third .info {
	width: 285px;
}

.twothird .info {
	width: 585px;
}

.full .info {
	width: 610px;
	clear: both;
}

td.mod_descr,
td.mod_name,
td.mod_args input {
	font-size: 80%;
}

td.mod_name,
.checkboxandlabel {
	white-space: nowrap;
}

td.center {
	text-align: center;
}

.lotsofcheckboxes .checkboxandlabel {
	display: block;
	float: left;
	width: 100%;
	margin-top: 0.5em;
}

#breadcrumb {
	width: 670px;
	padding: 0 0 3px 1px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--breadcrumb-border-color);
}

#servers_js > div:first-child {
	font-weight: bold;
	margin: 20px 0 8px;
}

td {
	word-wrap: break-word;
}

.textsection p {
	margin-bottom: 0.7em;
}

input.channel_index {
  width: 3em;
  min-width: unset;
}
