html,
body {
	background: #555;
	padding: 0;
	margin: 10px 0;
	background: #444;
	font-family: verdana;
	font-size: 12px;
	color: white;
}

img {
	border: 0;
	padding: 0;
	margin: 0;
}

/* TABLES */

table {
	border-collapse: collapse;
	font-size: 12px;
}

table.section,
table.data {
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid #f00;
}

table.section td,
table.data td {
	height: 20px;
	border: 1px solid #000;
	padding: 2px 3px;
}

table.section thead td,
table.data thead td {
	background-color: #D49712;
	color: #000;
	font-weight: bold;
}

table.data thead td {
	background-color: #EC8E00;
}

table.data tbody .altrow td {
	background-color: #777;
}

table.section table.data {
	width: 95%;
	margin: 10 auto;
}

/* !TABLES */

/* FORMS */

input, select, textarea {
	font-family: verdana;
	font-size: 12px;
	color: #000000;
	border: 1px solid #000000;
	background-color: #999;
}

table.section textarea,
table.section select,
table.section input {
	width: 100%;
}

table.section input.checkbox {
	width: auto;
}

/* !FORMS */

.nowrap {
	white-space: nowrap;
}

/* LINKS */

a:link,
a:active,
a:visited,
a:hover {
	font-family: verdana;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

/* !LINKS */

#wrapper {
	width: 800px;
	border: 1px solid #000;
	margin-left: auto;
	margin-right: auto;
}

#banner {
	background-image: url('clouds-header.jpg');
	padding: 0;
	border-bottom: 1px solid #000000;
	height: 100px;
	width: 800px;
	text-align: right;
	font-weight: bold;
	font-size: 13px;
	position: relative;
}

#banner p {
	position: absolute;
	bottom: 0;
	right: 20px;
}

#infobar {
	width: 800px;
	height: 20px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.successbar,
.errorbar {
	width: 790px;
	height: 20px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	background: #900;
	padding: 2px 5px;
	font-weight: bold;
}

.successbar {
	background: #070;
}


#infobar span {
	float: left;
	padding-left: 5px;
}

#infobar span.loginbox,
#infobar span.logoutbox {
	text-align: right;
	padding-right: 5px;
	border-left: 1px solid #000000;
	height: 100%;
	width: 250px;
	float: right;
}

#infobar span.logoutbox {
	text-align: center;
	width: 100px;
}

#infobar span.loginbox input {
	width: 60px;
}

#infobar span.loginbox input.submit {
	width: 40px;
}

#subpage {
	padding: 10px;
}

#content {
	float: right;
	width: 640px;
	padding: 0;
	background-color: #444;
}

/* MENU */

#menu {
	float: left;
	background-color: #333;
	width: 160px;
	margin: 0;
	margin-bottom: 20px;
	left: 0;
}

#menu .title,
#menu .item,
#menu .subitem {
	vertical-align: middle;
	text-align: center;
	padding: 8px 5px;
	background-color: #777;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

#menu .title {
	text-align: left;
	padding-left: 3px;
	background-color: #333;
	font-weight: bold;
}

#menu .item.active {
	background-color: #D49712;
	font-weight: bold;
}

#menu .subitem {
	text-align: left;
	padding: 3px 5px 3px 10px;
	background-color: #999;
}

#menu .subitem.active {
	font-weight: bold;
}

#menu .subitem.active a:hover {
	color: #000;
	text-decoration: none;
}

/* !MENU */

#footerbar {
	clear: both;
	background-color: #D49712;
	border-top: 1px solid #000000;
	height: 20px;
	text-align: right;
	padding-right: 5px;
}

#breadcrumb {
	padding: 5px 10px;
	border-bottom: 1px solid #000;
}
