					<div id="breadcrumb">ZNC
						<? IF ModName ?><b>&raquo;</b> <? VAR ModName ?><? ENDIF ?>
						<? REM ?><? IF PageName ?><b>&raquo;</b> <? VAR PageName ?><? ENDIF ?><? ENDREM ?>
						<? IF Title && Title != *ModName ?><b>&raquo;</b> <? VAR Title ?><? ENDIF ?>
					</div>
