					</div>
					<!-- !SubPage -->
				</div>
				<!-- !Content -->
			</div>
			<!-- !Main -->

			<!-- FooterBar -->
			<div id="footerbar">
				<? INC FooterTag.tmpl ?>
			</div>
			<!-- !FooterBar -->
		</div>
		<!-- !Wrapper -->
	</body>
</html>
