<? I18N znc ?>
<? SETBLOCK InfoBar_GuestNameStr ?><? FORMAT "-Guest-" ?><? ENDSETBLOCK ?>
<? SETBLOCK InfoBar_UserNameSpan ?><span class="user_name"><? VAR SessionUser DEFAULT=*InfoBar_GuestNameStr ?></span><? ENDSETBLOCK ?>
<div id="infobar">
	<span id="infobar_ident"><? FORMAT "Logged in as: {1} (from {2})" "InfoBar_UserNameSpan ESC=" SessionIP ?></span>
	<? INC LoginBar.tmpl ?>
</div>
