<? INC Header.tmpl ?>
<? IF LoggedIn ?>
	- You are alredy logged in! -
<? ELSE ?>
	<form action="/login" method="POST">
		<input type="hidden" name="submitted" value="1">
		<table>
			<tr>
				<td>User:</td>
				<td>Password:</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><input type="text" name="user" size="24">&nbsp;&nbsp;&nbsp;</td>
				<td><input type="password" name="pass" size="24"></td>
				<td><input type="submit" class="submit" value="Login"></td>
			</tr>
		</table>
	</form>
<? ENDIF ?>
<? INC Footer.tmpl ?>
