				<? IF LoggedIn ?>
				<span class="logoutbox"><a href="/logout">Logout</a></span>
				<? ELSE IF !ModName && PageName == "login" ?>
				<span class="logoutbox">&nbsp;</span>
				<? ELSE ?>
				<form action="/login" method="post">
					<div class="loginbox">
						<input type="hidden" name="submitted" value="1" />
						User:<input type="text" name="user" />
						Pass:<input type="password" name="pass" />
						<input type="submit" class="submit" value="Login" />
					</div>
				</form>
				<? ENDIF ?>
