<div id="menu">
	<ul class="nav">
		<li class="topitem<? IF !ModName && PageName == "index" ?> active<? ENDIF ?>"><a href="/">Home</a></li>

		<? IF GlobalModLoop ?>
			<li class="topitem parent"><span class="title">Global Modules</span>
				<ul>
				<? LOOP GlobalModLoop SORTASC=ModName ?>
					<li class="modtitle<? IF Active ?> active<? ENDIF ?>"><a href="/mods/<? VAR ModName ?>"><? VAR Title ?></a></li>
					<? LOOP SubPageLoop ?>
						<li class="subitem<? IF Active ?> active<? ENDIF ?>"><a href="/mods/<? VAR ModName ?>/<? VAR PageName ?><? IF Params ?>?<? VAR Params ?><? ENDIF ?>"><? VAR Title ?></a></li>
					<? ENDLOOP ?>
				<? ENDLOOP ?>
				</ul>
			</li>
		<? ENDIF ?>

		<? IF UserModLoop ?>
			<li class="topitem parent"><span class="title">User Modules</span>
				<ul>
				<? LOOP UserModLoop SORTASC=ModName ?>
					<li class="modtitle<? IF Active ?> active<? ENDIF ?>"><a href="/mods/<? IF ModUser ?><? VAR ModUser ?>:<? ENDIF ?><? VAR ModName ?>"><? VAR Title ?></a></li>
					<? LOOP SubPageLoop ?>
						<li class="subitem<? IF Active ?> active<? ENDIF ?>"><a href="/mods/<? VAR ModName ?>/<? VAR PageName ?><? IF Params ?>?<? VAR Params ?><? ENDIF ?>"><? VAR Title ?></a></li>
					<? ENDLOOP ?>
				<? ENDLOOP ?>
				</ul>
			</li>
		<? ENDIF ?>
	</ul>
</div>
